<html>
<head>
     <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="dashboard.css"  type="text/css" />
    <link rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  </head>
  <header>
    <img class="animated bounceInDown"src="https://i.imgur.com/oOdqRBX.png" alt="banner" height="300px" width="100%">
  </header>
  <body>
    <footer>
        <img class="animated slideInUp"src="https://i.imgur.com/SfEs5wK.jpg" alt="banner"  height="auto" width="400px">
    </footer>
   <div class="button button-glow button-border button-rounded button-primary">
     <%= link_to "Enter", companies_path%>
   </div>
  </body>
  </html>
