<html>
<head>
</head>
<header>
  <img src="https://i.imgur.com/LShJSde.jpg" alt="banner" height="300px" width="100%">
</header>
<body>
  <% @companies.each do |company| %>
  <ul class="flex-container flex-start">
    <li class="company-box" style="font-family:Garamond; font-size:20px; font-color:white" <%= company.id %>>
      <div class="inside">
        <%= link_to company.name, company_path(company) %>:
        <%= link_to "Edit", edit_company_path(company) %>
        <%= link_to "Delete", company_path(company), method: "delete" %>
      </div>
    </li>
    <% end %>
  </ul>
  </body>
  </html>
